.jumbotron {
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-image: url("https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    color: #ffff;
}

